@font-face{

	font-family: 'police';
	src: url('Aller_Bd.ttf');
}

h1{font-size: 25px; color: #D17600;}
li{color: #131313;}
p, h1, a, li{font-family: 'police'; text-align: justify-all;}
p{color: #131313;}
hr{border-color: #D17600; border-width: 2px;}

.akeneo{color: #58155A;}
.logo{float: right;}
.jours{color: #D17600;}
.taches{font-size: 0.9em;}
.htmlcss{float: right;}

.all{float: right; position: absolute; left: 160px;}
.ar{float: right; position: absolute; left: 160px;}
.au{float: right; position: absolute; left: 160px;}
.bel{float: right; position: absolute; left: 160px;}
.ca{float: right; position: absolute; left: 160px;}
.ch{float: right; position: absolute; left: 160px;}
.da{float: right; position: absolute; left: 160px;}
.es{float: right; position: absolute; left: 160px;}
.eu{float: right; position: absolute; left: 160px;}
.lu{float: right; position: absolute; left: 160px;}
.me{float: right; position: absolute; left: 160px;}
.nz{float: right; position: absolute; left: 160px;}
.pb{float: right; position: absolute; left: 160px;}
.su{float: right; position: absolute; left: 160px;}
.uk{float: right; position: absolute; left: 160px;}

.pp2{float: right; position: absolute; left: 400px;}
.pp1{float: right; position: absolute; left: 475px;}

.pp3{float: right; position: absolute; left: 1175px;}

.lien{color: #336666; text-decoration: none; font-weight: bold; font-size: 0.9em;}

.schema{float: right; position: absolute; left: 350px;}

.vert{ width:5px; border-left:4px solid gray; height:535px; float: right; position: absolute; left: 300px; border-color: #D17600} 
.text{color-interpolation: red;}

body{background: floralwhite;}
body{border: 3px black dotted; border-color: #D17600;}


a:hover{color: darkred;}


/*			Proposition de lien :

.lien02 {
    margin-bottom: 20px}
    .lien02 {
    padding: 21px 35px 21px 58px;
}
.lien01, .lien02 > a, .button, .button-primary, .ht-voting-comment__submit, input.gform_button {
    display: inline-block;
    padding: 13px 25px;
    position: relative;
    font-family: lato,sans-serif;
    font-size: 1.2em;
    color: #58155A;
    border-radius: 3px;
    background: #D17600;
    text-decoration: none;
}

<p>Vous pouvez allez visiter leur site internet : <a href="https://www.akeneo.com/fr/" class="lien01 lien02"
 target="_blank" onclick="__gaTracker('send', 'event', 'download-ce', 'https://www.akeneo.com/fr/');"><strong>Akeneo.com/fr/</strong></a> 

    */